.details__modal {
  width: 720px;
  background: #1c1c21;
  border-radius: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 16;
  align-items: center;
}

.modal_close {
  width: 24px;
  height: 24px;
  border: 0px;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 40px;
}
