.feed_page__container {
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px;
    width: 640px;
  }
  
  .feed_page__title {
    align-self: center;
  }
  
  .feed_page__name {
    max-height: 90px;
    margin-top: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .feed_page__list {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    max-height: 384px;
    overflow-y: scroll;
  }
  
  .feed_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .feed_element__image {
    width: 64px;
    height: 64px;
    background: #131316;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgba(128, 26, 178, 1);
  }
  
  .feed_element__burger_detail {
    display: flex;
    justify-content: space-between;
    width: 550px;
  }
  
  .feed_element__counter {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 24px;
  }
  
  .feed__image {
    width: 112px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
  
  .feed_element__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  
  .feed_element__price {
    display: flex;
    gap: 8px;
  }
  