@import '@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css'; 


body {
    font-family: 'Jet Brains Mono', 'Arial', serif;
}

::-webkit-scrollbar {
width: 8px;

margin-top: 10px;
margin-bottom: 10px;
position: absolute;
}

::-webkit-scrollbar-track {
background: #2F2F37;
}

::-webkit-scrollbar-thumb {
background: #8585AD;
}