.profile__main {
    display: flex;
    align-items: center;
  }
  
  .profile__content {
    width: 1280px;
    height: 80vh;
    align-self: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;


  }
  
  .profile_navigation {
    width: 320px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .profile_nav {
    display: flex;
    flex-direction: column;
  }
  
  .profile_form {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .profile_info {
    width: 844px;
    align-self: center;
  }

  .profile_button {
    width: 196px;
    align-self: center;
  }
  
  .profile_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64px;
    text-decoration: none;
  }
  